@model List<Contacts>
@{
    ViewData["Title"] = "Home";
}


<div class="container">
    <h1 class="text-center mb-5 border-bottom">My Contacts</h1>
<table class="table">
        <a type="button" class="btn btn-primary" asp-controller="Contact" asp-action="Add">Add Contact</a>

    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                
        @foreach (var contact in Model)
            {
                
        <tr>

            <th scope="row">@contact.Id</th>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Email</td>
                    <td>@contact.Phone</td>
                <td class="d-flex ">
                            <a type="button" asp-controller="Contact"  asp-action="Delete" asp-route-id="@contact.Id" class="btn btn-danger">Delete</a>
                    <button type="button"  class="btn btn-success">Edit</button>
                </td>
              
        </tr>
                }

            }
            else
            {
                <p>No contacts available</p>
            }
        
    </tbody>
</table>
</div>
